.social-icons {
  position: absolute;
  top: 3rem;
  width: 100vw;
  text-align: center;
  height: 50px;
}

.social-icons ul,
.social-icons ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 2rem;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
}