.experiments .single-experiment {
    max-width: 65vw;
    margin: 4.5rem auto 0;
}

.experiments .single-experiment h3 {
    font-size: 2.6rem;
    color: #1a1a1a;
    margin-bottom: 1rem;
}

.experiments .single-experiment p {
    text-align: center;
    margin: .7rem 0 1.5rem;
    color: #8a8a8a;
}

.experiments .single-experiment p.coming-soon {
    color: #bababa;
    letter-spacing: -0.05rem;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 576px) {
    .experiments .single-experiment h3 {
        font-size: 2rem !important;
    }
    
}