
.ex-bg {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #e7e6e7;
    border-left: 1px solid #e7e6e7;
}

.ex-container {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fafafa;
    transition-delay: 0ms;
}

.enter.enter-active .ex-bg,
.enter-done .ex-bg {
    left: calc(50% - 1px);
}

.enter.enter-active .ex-container,
.enter-done .ex-container {
    left: 50%;
}

.exit.exit-active .ex-bg,
.exit-done .ex-bg {
    left: 100%;
}

.experiments .experiment-list h2,
.experiments .experiment-list p,
.experiments .experiment-list ul {
    position: relative;
    text-align: left;
    max-width: 40vw;
    left: 12rem;
}

.experiments h2 {
    margin-top: 2em;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #8a8a8a;
    transition-delay: 50ms;
}

.experiments p {
    font-size: 1.4rem;
    transition-delay: 100ms;
}

.experiments ul {
    font-size: 1.2rem;
    transition-delay: 100ms;
}

.enter.enter-active.experiments h2,
.enter-done.experiments h2, 
.enter.enter-active.experiments p,
.enter-done.experiments p,
.enter.enter-active.experiments ul,
.enter-done.experiments ul
{
    left: 4rem;
}

.experiments .full-enter .ex-bg {
    left: calc(50% - 1px);
}

.experiments .full-enter .ex-container {
    left: 50%;
}

.experiments .full-enter-done .ex-bg, 
.experiments .full-enter.full-enter-active .ex-bg {
    left: 69px;
}

.experiments .full-enter-done .ex-container, 
.experiments .full-enter.full-enter-active .ex-container {
    left: 70px;
    width: calc(100vw - 70px);
}

.experiments .full-enter-done .close, 
.experiments .full-enter-active .close, 
.close {
    position: absolute;
    top: 3rem;
    left: calc(100% - 5rem);
}

.close img {
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.enter-done .close {
    left: calc(50% - 5rem);
}

h2.sorted {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .experiments.enter-done .ex-container, 
    .experiments.enter-active .ex-container, 
    .experiments .full-enter-done .ex-container, 
    .experiments .full-enter.full-enter-active .ex-container {
        left: 0px;
        width: 100% !important;
    }

    .experiments .experiment-list h2,
    .experiments .experiment-list p, 
    .experiments .experiment-list ul {
        max-width: 75% !important;
    }

    .experiments .experiment-list p, 
    .experiments .experiment-list ul {
        font-size: 1.5rem;
    }

    .bars {
        height: 30vh !important;
    }

    .enter-done .close {
        left: calc(100% - 5rem);
    }
}