
.ex-bg {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #d5d6d5;
}

.ex-bg-top {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #e6e7e6;
    transition-delay: 100ms;
}

.enter.enter-active .ex-bg-top,
.enter-done .ex-bg-top, 
.enter.enter-active .ex-bg,
.enter-done .ex-bg {
    left: 50%;
}

.exit.exit-active .ex-bg,
.exit-done .ex-bg {
    left: 100%;
}

.experiments h2,
.experiments p,
.experiments ul {
    position: relative;
    text-align: left;
    max-width: 40vw;
    left: 8rem;
}

.experiments h2 {
    margin-top: 2em;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #8a8a8a;
    transition-delay: 200ms;
}

.experiments p {
    font-size: 1.4rem;
    transition-delay: 200ms;
}

.experiments ul {
    font-size: 1.2rem;
    transition-delay: 230ms;
}

.enter.enter-active.experiments h2,
.enter-done.experiments h2, 
.enter.enter-active.experiments p,
.enter-done.experiments p,
.enter.enter-active.experiments ul,
.enter-done.experiments ul
{
    left: 4rem;
}